/* ----------------- footer ------------------ */

#footer {
    background: var(--background-primary);
    position: relative;
}
.footer-container {
    padding: 32px 5%;
    gap: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-col2 {
    width: 200px;
    flex-shrink: 0;
}
@media screen and (max-width: 700px) {
    .footer-col2 {
        width: 136px;
    }
}
.footer-text h1 {
    font-size: clamp(12px, 3vw, 16px);
    margin-bottom: 8px;
    font-weight: bold;
    color: var(--text-primary-color)
}
.footer-text .sub-text {
    font-size: clamp(8px, 2.2vw, 12px);
    color: var(--text-secondary-color);
}
.footer-text .icons {
    font-size: clamp(12px, 3vw, 16px);
    display: flex;
    column-gap: 16px;

    flex-wrap: wrap;
}
.footer-text .icons a {
    color: var(--text-secondary-color);
    transition: color 0.5s;
}
@media (hover: hover) and (pointer: fine) {
    .footer-text .icons a:hover {
        cursor: pointer;
        color: var(--text-primary-color);
    }
}
.footer-copyright {
    padding: 0 5%;
}
.copyright-container {
    border-top: #4f5f72 0.25px solid;
    padding: 32px 5%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.copyright-text {
    font-size: clamp(8px, 2.2vw, 10px);
    color: var(--text-secondary-color)
}
.copyright-text span {
    text-decoration: underline;
    font-weight: bold;
    color: var(--text-primary-color)
}
.copyright-text span:hover {
    cursor: pointer;
}
