/* ------------------- home ------------------ */

#header {
    position: relative;
    margin-top: 0;
    padding: 0 10%;
    height: 100svh;
}
.header-container {
    padding-top: 232px;
    width: 100%;
}
.header-text {
    text-align: center;
}
.header-text h1 {
    font-size: clamp(40px, 6vw, 80px);
    transition: letter-spacing 1s ease;
    color: var(--text-primary-color);
}
.header-text h2 {
    margin-top: 16px;
    font-size: clamp(8px, 1.7vw, 32px);
    color: var(--accent-color);
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    letter-spacing: 0.6em;

    transition: scale 0.5s;
}
@media (hover: hover) and (pointer: fine) {
    .header-text h2:hover {
        scale: 1.025;
    }
}

.header-text .separator {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 24px;
    color: var(--text-primary-color);
}
.header-text .sub-text {
    font-size: 16px;
    font-weight: 200;
    color: var(--text-secondary-color);
    padding: 0 10%;
    line-height: 1.8;
}


.socials-buttons {
    margin-top: 40px;
    display: flex;
    gap: 40px;
    justify-content: center;
}
.social-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    color: var(--text-primary-color);
    transition: color 0.5s, scale 0.25s;
    text-decoration: none;
}
@media (hover: hover) and (pointer: fine) {
    .social-btn:hover {
        color: var(--accent-color);
        scale: 1.1;
    }
}

.scroll-down-indicator {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 5%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.scroll-down-container {
    padding: 10px;
    font-size: medium;
    color: var(--text-primary-color);
    transition: color 0.5s, font-size 0.25s;
}
@media (hover: hover) and (pointer: fine) {
    .scroll-down-container:hover {
        cursor: pointer;
        font-size: xx-large;
        color: var(--accent-color);
    }
}
