/* ----------------- projects ---------------- */

#projects {
    background: var(--dark-secondary1-color);
    position: relative;
}
.projects-container {
    padding: 80px 10%;
}

.projects-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    margin-bottom: 64px;
}
.projects-header h1 {
    font-size: 32px;
    color: var(--text-primary-color);

    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.projects-header .separator {
    border: var(--dark-accent-color) 1px solid;
    border-radius: 6px;
    height: 1px;
    width: 56px;

    margin: 16px 0;
}
.projects-header .sub-text {
    font-size: 16px;
    line-height: 1.8;
    font-weight: 200;
    text-align: center;

    color: var(--text-secondary-color);
    max-width: 656px;
    margin: 0 auto;
}