:root {
    --primary-font: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    --text-primary-color: white;
    --text-secondary-color: lightgray;
    --text-accent-color: cyan;

    --dark-primary-color: #222831;
    --dark-secondary1-color: #393E46;
    --dark-secondary2-color: rgb(62, 67, 75);
    --dark-tertiary-color: #EEEEEE;
    --dark-accent-color: cyan;
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--primary-font);
    box-sizing: border-box;
}

.resize-animation-stopper * {
    transition: none !important;
}

body {
    background: var(--dark-secondary1-color);
    color: white;
    overflow-x: hidden;
}

.fade-in {
    opacity: 0;
    filter: blur(10px);
    transition: opacity 1s ease, filter 0.8s ease;
}
.fade-in.visible {
    opacity: 1;
    filter: blur(0);
}

.nav-container {
    display: flex;
    align-items: center;

    padding: 0px 5%;
    height: 80px;
    background-color: #222831f0;
    backdrop-filter: blur(8px);

    top: 0;
    width: 100%;
    z-index: 100000;

    position: fixed;
}
.nav-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: -1;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s ease, visibility 0.25s ease;
}
.nav-backdrop.active {
    opacity: 1;
    visibility: visible;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
    width: 100%;
}

.logo {
    height: 56px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    
    transition: scale 0.25s ease;
    scale: 1;

}
@media (hover: hover) and (pointer: fine) {
    .logo:hover {
        scale: 1.05;
    }
}
.hamburger {
    display: none;
    cursor: pointer;
    width: 48px;
    height: 48px;
    align-items: center;
    justify-content: end;
    text-decoration: none;

    transition: color 0.25s, scale 0.25s;
    color: var(--dark-tertiary-color);
}
@media (hover: hover) and (pointer: fine) {
    .hamburger:hover {
        color: var(--dark-accent-color);
        scale: 1.05;
    }
}
nav ul li {
    display: inline-block;
    list-style: none;
    padding: 24px 24px;
    display: inline;

    position: relative;
    color: var(--dark-tertiary-color);
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.25s;
}
@media (hover: hover) and (pointer: fine) {
    nav ul li:hover {
        color: var(--dark-accent-color);
        cursor: pointer;
    }
}

@media screen and (max-width: 700px) {
    .hamburger {
        display: flex;
    }
    .nav-menu {
        position: fixed;
        top: 0;
        right: -40%;
        width: 40%;
        height: 100vh;
        background-color: var(--dark-primary-color);
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 80px;
        z-index: -1;

        transition: transform 0.25s;
        transform: translateX(0);
    }
    .nav-menu.active {
        transform: translateX(-100%);
    }
    .nav-menu li {
        margin: 0;
        display: block;
        text-align: right;
        padding: 32px 0;
        border-bottom: 1px solid var(--dark-secondary1-color);

        font-size: 16px;
        width: 100%;
        display: block;
        padding-right: 24px;
    }
}

#header {
    position: relative;
    margin-top: 0;
    padding: 0 10%;
    min-height: calc(100svh - 256px); /* Subtracting header container margin */
}
.header-container {
    margin-top: 256px;
    width: 100%;
}
.header-text {
    text-align: center;
}
.header-text h1 {
    font-size: clamp(3rem, 6vw, 5rem);
    letter-spacing: 0.05em;
}
.header-text h2 {
    margin-top: 16px;
    font-size: clamp(0.8rem, 1.7vw, 2rem);
    color: var(--dark-accent-color);
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.header-text .sub-text {
    font-size: clamp(0.8rem, 1.1vw, 1.2rem);
    color: var(--text-secondary-color);
    padding: 0 10%;
}
.header-text .separator {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 24px;
}


.socials-buttons {
    margin-top: 40px;
    display: flex;
    gap: 40px;
    justify-content: center;
}
.social-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    color: var(--text-primary-color);
    transition: color 0.25s, scale 0.25s;
    text-decoration: none;
}
@media (hover: hover) and (pointer: fine) {
    .social-btn:hover {
        color: var(--dark-accent-color);
        scale: 1.1;
    }
}

.scroll-down-indicator {
    position: absolute;
    left: 50%;
    bottom: 5%;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* ------------------ about ------------------ */

#about {
    background: var(--dark-secondary2-color);

    position: relative;
    overflow: hidden;
}
.about-container {
    color: var(--text-secondary-color);
    font-weight: lighter;
    padding: 80px 10%;
}
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1 {
    flex-basis: 35%;
}
.about-col-1 img {
    width: 100%;
    border-radius: 16px;
}
.about-col-2 {
    flex-basis: 60%;
}
.sub-title {
    font-size: 24px;
    color: var(--text-primary-color);
    font-weight: bold;
    margin-bottom: 16px;
}
.about-col-2 .about-text {
    font-size: 14px;
}

.tab-titles {
    display: flex;
    margin: 24px 0 40px;
}
.tab-links {
    margin-right: 56px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    transition: 0.25s;
}
.tab-links::after {
    content: '';
    width: 0;
    height: 2px;
    background: var(--text-accent-color);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.25s;
}
@media (hover: hover) and (pointer: fine) {
    .tab-links:hover {
        color: var(--text-primary-color);
    }
}
.tab-links.active-link::after {
    width: 50%;
}
.tab-contents ul li {
    list-style: none;
    margin-bottom: 24px;
    font-size: 14px;

    transition: 0.25s;
}
@media (hover: hover) and (pointer: fine) {
    .tab-contents ul li:hover {
        font-weight: bold;
    }
}
.tab-contents ul li span {
    color: var(--text-accent-color);
    font-size: 16px;
}
.tab-contents {
    display: none;
}
.tab-contents.active-tab {
    display: block;
}
