:root {
    --primary-font: 'system-ui', sans-serif;

    --primary-color: white;
    --secondary-color: gray;
    --tertiary-color: lightgray;
    --accent-color: #40E0D0; /* Turquoise */
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--primary-font);
    box-sizing: border-box;
    overscroll-behavior: none;
}

body {
    background: white;
    color: white;
}
::-webkit-scrollbar {
    display: none;
}



#header {
    width: 100%;
    height: 100vh;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: right;
}
.nav-container {
    padding: 0px 5%;
    background-color: rgb(10, 10, 10);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);

    top: 0;
    position: sticky;
    z-index: 100000;
}
.nav-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    background-color: rgba(0,0,0,0.3);
    z-index: -1;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s ease, visibility 0.25s ease;
}
.nav-backdrop.active {
    opacity: 1;
    visibility: visible;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 80px;
}

.logo {
    height: 56px;
}
.hamburger {
    display: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    color: var(--tertiary-color);
    transition: color 0.25s;
}
.hamburger:hover {
    color: var(--primary-color);
}
.hamburger i {
    width: 24px;
    height: 24px;
}
.no-scroll {
    overflow: hidden;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 12px 24px;
    display: inline;
}
nav ul li a {
    color: var(--tertiary-color);
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
    transition: color 0.25s;
}
nav ul li a:hover {
    color: var(--primary-color);
}
nav ul li a::after {
    content: '';
    width: 0;
    height: 2px;
    background: var(--accent-color);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.25s;
}
nav ul li a:hover::after {
    width: 100%;
}
@media screen and (max-width: 700px) {
    .hamburger {
        display: flex;
    }
    .nav-menu {
        position: fixed;
        top: 0;
        right: -40%;
        width: 40%;
        height: 100vh;
        background-color: rgba(20, 20, 20, 1);
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        transition: 0.25s;
        padding-top: 72px;
        padding-right: 5%;
        z-index: -1;
    }
    .nav-menu.active {
        right: 0;
    }
    .nav-menu li {
        margin-bottom: 48px;
        margin-right: 0;
        display: block;
        text-align: right;
    }
    .nav-menu li a {
        font-size: 16px;
        width: 100%;
        display: block;
    }
}


.header-container {
    padding: 16px 10%;
}
.header-text {
    margin-top: 15%;
    font-size: clamp(0.8rem, 2vw, 1.2rem);
}
.header-text p {
    color: var(--tertiary-color);
    font-weight: lighter;
}
.header-text h1 {
    font-size: clamp(2rem, 6vw, 4rem);
    margin-top: 16px;
}
.header-text h1 a {
    color: var(--primary-color);
}
.header-text h1 span {
    color: var(--accent-color);
}
.header-text .sub-text {
    margin-top: 48px;
    color: var(--tertiary-color);
    font-weight: lighter;
    font-size: clamp(0.8rem, 2vw, 1.2rem);
}


.socials-buttons {
    margin-top: 32px;
    display: flex;
    gap: 16px;
}
.social-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 4px;
    color: var(--tertiary-color);
    
    position: relative;
    overflow: hidden;
    border: none;
    transition: color 0.25s;
}
.social-btn::before, .social-btn::after {
    /* Create animated border pseudo-elements */
    content: '';
    position: absolute;
    transition: all 0.25s linear;
}
.social-btn::before {
    /* Bottom left borders (starts the animation) */
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-left: 2px solid transparent;
    border-bottom: 2px solid transparent;
}
.social-btn::after {
    /* Top right borders (completes the animation) */
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
}
.social-btn:hover::before {
    width: 100%;
    height: 100%;
    border-left-color: var(--accent-color);
    border-bottom-color: var(--accent-color);
    transition-delay: 0s;
}
.social-btn:hover::after {
    width: 100%;
    height: 100%;
    border-top-color: var(--accent-color);
    border-right-color: var(--accent-color);
    transition-delay: 0s;
}
.social-btn:hover {
    color: white;
}

.social-btn i {
    width: 32px;
    height: 32px;
}


/* ------------------ about ------------------ */

#about {
    width: 100%;
    height: 100vh;
    background-image: url(images/background1.jpg);
    background-size: cover;
    background-position: right;
}
.sticky-border {
    border-top: 1px solid var(--secondary-color);
}
.about-container {
    color: var(--tertiary-color);
    font-weight: lighter;
    padding: 80px 10%;
}
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1 {
    flex-basis: 35%;
}
.about-col-1 img {
    width: 100%;
    border-radius: 16px;
}
.about-col-2 {
    flex-basis: 60%;
}
.sub-title {
    font-size: 24px;
    color: var(--primary-color);
    font-weight: bold;
    margin-bottom: 16px;
}
.about-col-2 .about-text {
    font-size: 14px;
}

.tab-titles {
    display: flex;
    margin: 24px 0 40px;
}
.tab-links {
    margin-right: 56px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    transition: 0.25s;
}
.tab-links::after {
    content: '';
    width: 0;
    height: 2px;
    background: var(--accent-color);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.25s;
}
.tab-links:hover {
    color: var(--primary-color);
}
.tab-links.active-link::after {
    width: 50%;
}
.tab-contents ul li {
    list-style: none;
    margin-bottom: 24px;
    font-size: 14px;

    transition: 0.25s;
}
.tab-contents ul li:hover {
    font-weight: bold;
}
.tab-contents ul li span {
    color: var(--accent-color);
    font-size: 16px;
}
.tab-contents {
    display: none;
}
.tab-contents.active-tab {
    display: block;
}
