:root {
    --primary-font: 'system-ui', sans-serif;

    --text-primary-color: white;
    --text-secondary-color: gray;
    --text-tertiary-color: lightgray;
    --text-accent-color: #40E0D0;

    --dark-primary-color: #222831;
    --dark-secondary1-color: #393E46;
    --dark-secondary2-color: rgb(62, 67, 75);
    --dark-tertiary-color: #EEEEEE;
    --dark-accent-color: #00ADB5;
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--primary-font);
    box-sizing: border-box;
}

body {
    background: var(--dark-secondary1-color);
    color: white;
}

.nav-container {
    display: flex;
    align-items: center;

    padding: 0px 5%;
    height: 80px;
    background-color: #222831f0;
    backdrop-filter: blur(8px);

    top: 0;
    width: 100%;
    z-index: 100000;

    position: fixed;
    transition: transform 0.25s ease;
}
.nav-container.hidden {
    transform: translateY(-100%);
}
.nav-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: -1;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s ease, visibility 0.25s ease;
}
.nav-backdrop.active {
    opacity: 1;
    visibility: visible;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
    width: 100%;
}

.logo {
    height: 40px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    
    transition: scale 0.25s ease;
    scale: 1;

}
.logo:hover {
    scale: 1.05;
}
.hamburger {
    display: none;
    cursor: pointer;
    width: 48px;
    height: 48px;
    align-items: center;
    justify-content: end;
    text-decoration: none;

    transition: color 0.25s;
    color: var(--dark-tertiary-color);
}
.hamburger:hover {
    color: var(--dark-accent-color);
}
nav ul li {
    display: inline-block;
    list-style: none;
    padding: 24px 24px;
    display: inline;

    position: relative;
    color: var(--dark-tertiary-color);
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.25s;
}
nav ul li:hover {
    color: var(--dark-accent-color);
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .hamburger {
        display: flex;
    }
    .nav-menu {
        position: fixed;
        top: 0;
        right: -40%;
        width: 40%;
        height: 100vh;
        background-color: var(--dark-primary-color);
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        transition: 0.25s;
        padding-top: 72px;
        z-index: -1;
    }
    .nav-menu.active {
        right: 0;
    }
    .nav-menu li {
        margin: 0;
        display: block;
        text-align: right;
        padding: 32px 0;
        border-bottom: 1px solid var(--dark-secondary1-color);

        font-size: 16px;
        width: 100%;
        display: block;
        padding-right: 24px;
    }
}

#header {
    position: static;
    margin-top: 80px;
    padding: 12% 10%;
}
.header-text {
    font-size: clamp(0.8rem, 2vw, 1.2rem);
    text-align: center;
}
.header-text h1 {
    font-size: clamp(3rem, 6vw, 4rem);
}
.header-text h1 a {
    color: var(--text-primary-color);
}
.header-text h1 span {
    color: var(--text-accent-color);
}
.header-text .sub-text {
    padding-top: 32px;
    font-size: clamp(1rem, 2vw, 1.2rem);
    font-weight: lighter;
}


.socials-buttons {
    margin-top: 32px;
    display: flex;
    gap: 16px;
    justify-content: center;
}
.social-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    color: var(--text-primary-color);
    transition: color 0.25s;
    text-decoration: none;
}
.social-btn:hover {
    color: var(--dark-accent-color);
}

/* ------------------ about ------------------ */

#about {
    background: var(--dark-secondary2-color);

    position: relative;
    overflow: hidden;
}
.about-container {
    color: var(--text-tertiary-color);
    font-weight: lighter;
    padding: 80px 10%;
}
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1 {
    flex-basis: 35%;
}
.about-col-1 img {
    width: 100%;
    border-radius: 16px;
}
.about-col-2 {
    flex-basis: 60%;
}
.sub-title {
    font-size: 24px;
    color: var(--text-primary-color);
    font-weight: bold;
    margin-bottom: 16px;
}
.about-col-2 .about-text {
    font-size: 14px;
}

.tab-titles {
    display: flex;
    margin: 24px 0 40px;
}
.tab-links {
    margin-right: 56px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    transition: 0.25s;
}
.tab-links::after {
    content: '';
    width: 0;
    height: 2px;
    background: var(--text-accent-color);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.25s;
}
.tab-links:hover {
    color: var(--text-primary-color);
}
.tab-links.active-link::after {
    width: 50%;
}
.tab-contents ul li {
    list-style: none;
    margin-bottom: 24px;
    font-size: 14px;

    transition: 0.25s;
}
.tab-contents ul li:hover {
    font-weight: bold;
}
.tab-contents ul li span {
    color: var(--text-accent-color);
    font-size: 16px;
}
.tab-contents {
    display: none;
}
.tab-contents.active-tab {
    display: block;
}
